@model JobPost

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>JobPost</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Department" class="control-label"></label>
                <input asp-for="Department" class="form-control" />
                <span asp-validation-for="Department" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="State" class="control-label"></label>
                <input asp-for="State" class="form-control" />
                <span asp-validation-for="State" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Qualification" class="control-label"></label>
                <input asp-for="Qualification" class="form-control" />
                <span asp-validation-for="Qualification" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ApplyLink" class="control-label"></label>
                <input asp-for="ApplyLink" class="form-control" />
                <span asp-validation-for="ApplyLink" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PdfLink" class="control-label"></label>
                <input asp-for="PdfLink" class="form-control" />
                <span asp-validation-for="PdfLink" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastDateToApply" class="control-label"></label>
                <input asp-for="LastDateToApply" class="form-control" />
                <span asp-validation-for="LastDateToApply" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreatedAt" class="control-label"></label>
                <input asp-for="CreatedAt" class="form-control" />
                <span asp-validation-for="CreatedAt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
